<!doctype html>

<html>
<head>
	<title>Clipped | Personalized Coupon Generator</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top shadow" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar" id="green1"></span>
				<span class="icon-bar" id="green2"></span>
				<span class="icon-bar" id="green3"></span>
				</button>
			</div>
			<div class="navbar-brand"><img src="images/logo.png"></div>
			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="wallet" data-toggle="modal" href="#walletModal">myClip <span class="badge">0</span></a></li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#popular" data-toggle="tab">
						<span class="glyphicon glyphicon-star"></span>
						&nbsp&nbspPopular
					</a></li>
					<li><a href="#available" data-toggle="tab">
						<span class="glyphicon glyphicon-th-list"></span>
						&nbsp&nbspAvailable
					</a></li>
					<li><a href="#camera" data-toggle="tab">
						<span class="glyphicon glyphicon-camera"></span>
						&nbsp&nbspSnap
					</a></li>
					<li><a href="#howto" data-toggle="tab">
						<span class="glyphicon glyphicon-question-sign"></span>
						&nbsp&nbspHow To
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="tab-content">
			<div class="tab-pane active" id="popular">
				<!--<h1>popular</h1>-->
				<h3>Featured Coupons</h3>
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="images/featured1.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="images/featured2.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="images/featured3.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
				<h3>Popular Coupons</h3>
			</div>
			<div class="tab-pane" id="available">
				<h3>Available Coupons</h3>
				<form class="form-inline" role="form">
					<input type="text" class="form-control filter" id="couponFilter" placeholder="Filter">
					<select class="form-control filter" id="sortBy" onchange="getCoupons(this)">
						<option>Sort By</option>
						<option>Expiration Date</option>
						<option>Store</option>
						<option>Name</option>
					</select>
				</form>
			</div>
			<div class="tab-pane" id="camera">
				<h1>Camera</h1>
				<form method="post" enctype="multipart/form-data" action="/upload" id="cameraForm">
					<input id="chooseFileBtn" type="file" name="file" accept="image/*" capture>
					<input id="uploadBtn" type="submit" value="Upload">
				</form>
			</div>
			<div class="tab-pane" id="howto">
				<h1>How to save using Clipped</h1>				
			</div>
			<div class="tab-pane" id="checkout">
				<h1>Check me out!</h1>
				<p>Here is your generated coupon! Happy savings!</p>
				<image src="images/qrcode.png">
				<p>Present this at the register during checkout!</p>
			</div>
		</div>
	</div>

	<!-- Clipped Projects Modal -->
	<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="walletLabel">myClip</h4>
				</div>
				<div class="modal-body">
					Start clipping and start saving!
				</div>
				<div class="modal-footer">
					<a href="#checkout" data-toggle="tab" id="checkoutBtn">
						<button type="button" class="btn btn-sm btn-primary">Generate QR Code</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="http://malsup.github.com/min/jquery.form.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
