<!doctype html>

<html>
<head>
	<title>Clipped | Personalized Coupon Generator</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar" id="green1"></span>
				<span class="icon-bar" id="green2"></span>
				<span class="icon-bar" id="green3"></span>
				</button>
			</div>
			<div class="navbar-brand">
				<div class="logo-div">
					<a href="#home" data-toggle="tab" class="navlink">
						<img src="images/logo.png">
					</a>
				</div>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="wallet" data-toggle="modal" href="#walletModal">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							<span id="cartItems">0</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#home" data-toggle="tab" class="navlink">
						<span class="glyphicon glyphicon-home"></span>
						&nbsp&nbspHome
					</a></li>
					<li><a href="#popular" data-toggle="tab" class="navlink">
						<span class="glyphicon glyphicon-star"></span>
						&nbsp&nbspPopular
					</a></li>
					<li><a href="#available" data-toggle="tab" class="navlink">
						<span class="glyphicon glyphicon-th-list"></span>
						&nbsp&nbspAvailable
					</a></li>
					<li><a href="#camera" data-toggle="tab" class="navlink">
						<span class="glyphicon glyphicon-camera"></span>
						&nbsp&nbspSnap
					</a></li>
					<li><a href="#howto" data-toggle="tab" class="navlink">
						<span class="glyphicon glyphicon-question-sign"></span>
						&nbsp&nbspHow To
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="tab-content">
			<div class="tab-pane active" id="home">
				<h3>Welcome</h3>
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
						<li data-target="#myCarousel" data-slide-to="3" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="images/featuringplaceholder.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="images/featured1.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="images/featured2.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="images/featured3.png" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4">
						<a href="#popular" data-toggle="tab" class="navlink"><img src="images/popular.png" class="thumb"></a>
					</div>
			  		<div class="col-xs-4">
			  			<a href="#available" data-toggle="tab" class="navlink"><img src="images/available.png" class="thumb"></a>
			  		</div>
			  		<div class="col-xs-4" >
			  			<a href="#camera" data-toggle="tab" class="navlink"><img src="images/snap.png" class="thumb"></a>
			  		</div>
				</div>
			</div>
			<div class="tab-pane" id="popular">
				<h3>Popular Coupons</h3>
				<h5>Check out the <b>top 5</b> Clipped coupons that are currently on everybody's myClip</h5>
				<br>
			</div>
			<div class="tab-pane" id="available">
				<h3>Available Coupons</h3>
				<h5>A list of everything we are offering you! Go crazy ;)</h5>
				<h4>Search</h4>
				<form class="form-inline" role="form">
					<input type="text" class="form-control filter" id="couponFilter" placeholder="Filter">
					<select class="form-control filter" id="sortBy" onchange="getCoupons(this)">
						<option>Sort By</option>
						<option>Expiration Date</option>
						<option>Store</option>
						<option>Name</option>
					</select>
				</form>
				<br>
			</div>
			<div class="tab-pane" id="camera">
				<h1>Camera</h1>
				<h5>Access your mobile's camera to take a picture of your QR coupon!</h5>
				<br>
				<form method="post" enctype="multipart/form-data" action="/upload" id="cameraForm">
					<input id="chooseFileBtn" type="file" name="file" accept="image/*" capture >
					<input type="text" name="title" placeholder="Coupon Name" >
					<button id="uploadBtn" type="submit" class="btn btn-primary btn-sm">Upload</button>
					<p class="errMsg" id="noFileMsg">Please scan a QR code.</p>
					<p class="errMsg" id="noNameMsg">Please name your coupon.</p>
					<p class="errMsg" id="invalidQRMsg">Please upload a valid QR code.</p>
					<p class="errMsg" id="dupCouponMsg">You have already uploaded this coupon.</p>
					<p class="errMsg" id="dupCouponNameMsg">You have already used this coupon name.</p>
				</form>
				<div class="progress progress-striped active">
					<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">0%</div>
				</div>
				<ul class="media-list couponlist">
				</ul>
			</div>
			<div class="tab-pane" id="howto">
				<h1>Guide on how to use Clipped</h1>
				<h5>New to Clipped and curious on how to utilize it? You came to the right place!</h5>
				<hr>
				<!--Take screenshots, insert them below, does fancybox work on mobile?-->
				<ol class="how-to">
					<li>Browse our wide selection of coupons; if you're uncertain on where to start, you can check out the <a href="#popular" data-toggle="tab" class="navlink">Popular</a>coupons and see what's trending on everyone's myClip!</li>
					<li>Utilize the search/filter feature on the <a href="#available" data-toggle="tab" class="navlink">Available</a> page.</li>
					<li>Try our favorite feature, <a href="#camera" data-toggle="tab" class="navlink">Snap</a> to take a picture of your coupon and save it to your 'myClip'!</li>
					<li>Select the "add" icon to add the coupon into your 'myClip'</li>
					<li>After you finished browsing, select 'myClip' to view a list of your added coupons. Select 'Generate QR Code' when satisfied.</li>
					<li>Save your QR code by taking a screenshot of it and saving it to your photostream.</li>
				</ol>
				<hr>
				<h5>Got more unanswered questions? Email us!</h5>			
			</div>
			<div class="tab-pane" id="checkout">
				<h1>Clipped checkout</h1>
				<h5>Here is your generated coupon! Happy savings!</h5>
				<image src="images/qrcheckout.png">
				<h5>Present this QR code at the register during checkout!</h5>
			</div>
		</div>
	</div>

	<!-- Clipped Projects Modal -->
	<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="walletLabel">
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</h4>
				</div>
				<div class="modal-body">
					You have not clipped any coupons.
				</div>
				<div class="modal-footer">
					<a href="#checkout" data-toggle="tab">
						<button type="button" class="btn btn-sm btn-primary" id="checkoutBtn">Generate QR Code</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/jquery-ui-1.10.4.custom.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
