<!doctype html>

<html>
<head>
	<title>Clipped</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/clippedlogo.png"></a>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="wallet" data-toggle="modal" href="#walletModal">Clipped Projects</a></li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#trending" data-toggle="tab">Trending</a></li>
					<li><a href="#available" data-toggle="tab">Available</a></li>
					<li><a href="#camera" data-toggle="tab"><span class="glyphicon glyphicon-camera"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="tab-content">
			<div class="tab-pane active" id="trending">
				<h1>Trending</h1>
				<h3>Featured Coupons</h3>
				<!-- USE A PARTIAL HERE LATER-->
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="images/bootstrap-mdo-sfmoma-03.jpg" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
								<h4>First Featured Coupon</h4>
								<p>Buy 1 Get 50% Off</p>
							</div>
						</div>
						<div class="item">
							<img src="images/bootstrap-mdo-sfmoma-03.jpg" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
								<h4>Second Featured Coupon</h4>
								<p>Buy 1 Get 50% Off</p>
							</div>
						</div>
						<div class="item">
							<img src="images/bootstrap-mdo-sfmoma-03.jpg" alt="" style="margin: 0 auto;">
							<div class="carousel-caption">
								<h4>Third Featured Coupon</h4>
								<p>Buy 1 Get 50% Off</p>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
				<h3>Popular Coupons</h3>		
				<!-- USE A PARTIAL HERE LATER-->
				<ul class="media-list">
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Coupon Name
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Coupon Name
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Coupon Name
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
				</ul>
			</div>
			<div class="tab-pane" id="available">
				<span class="h1">Available Coupons</span>
				<form class="form-inline" role="form">
					<input type="text" class="form-control filter" id="couponFilter" placeholder="Filter">
					<select class="form-control filter" id="sortBy">
						<option>Expiration Date</option>
						<option>Date Added</option>
						<option>Store</option>
					</select>
				</form>
				<!-- USE A PARTIAL HERE LATER-->
				<ul class="media-list">
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Media heading
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Media heading
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="images/placeholder.png" alt="...">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								Media heading
								<a class="pull-right" href="#"><span class="glyphicon glyphicon-plus"></span></a>
							</h4>
							Participating store will go here<br>
							Expiry info coupon will go here
						</div>
					</li>
				</ul>
			</div>
			<div class="tab-pane" id="camera">
				<h1>Camera</h1>
				<form action="" method="post" enctype="multipart/form-data">
					<input type="file" accept="image/*" capture>
					<input type="submit" value="Upload">
				</form>
			</div>
		</div>
	</div>

	<!-- Clipped Projects Modal -->
	<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="walletLabel">Clipped Projects</h4>
				</div>
				<div class="modal-body">
					Clipped coupons will be shown here.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-primary">Generate Coupon</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
