<!doctype html>

<html>
<head>
	<title>Clipped | Personalized Coupon Generator</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<!--<link href="css/responsive.css" rel="stylesheet">-->
</head>
<body class="welcome">
	<div class="container">
		<img class="img-responsive homelogo" src="/images/homelogo1.png">
		<div id="main-nav">
			<div class="wrap cf">
				<div class="select-div">
					<div class="select-wrap">
						<select class="select-menu" onchange="location = this.options[this.selectedIndex].value;">
							<option value>Navigate to...</option>
							<option value="/view#about">
									About Clipped
							</option>
							<option value="/view#popular">Popular Coupons</option>
							<option value="/view#available">Browse Coupons</option>
							<option value="/view#camera">Snap a Coupon</option>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
