<!doctype html>

<html>
<head>
	<title>Clipped | Personalized Coupon Generator</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="welcome">
	<div class="container">
		<img class="img-responsive homelogo" src="/images/homelogo.png">
		<div class="homebutton">
			<a href="/view#popular" class="button2">
				popular
			</a>
			<a href="/view#available" class="button2">
				available
			</a>
			<a href="/view#camera" class="button2">
				snap
			</a>
			<a href="/view#about" class="button2">
				about
			</a>
		</div>
	</div>
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/jquery-ui-1.10.4.custom.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
