/*
body {
     background-image: url("../images/lightpaperfibers.png");
}
*/

.navbar-toggle {
	float: left;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0px;
    height: 0px;
}

.navbar-brand img {
    display: block;
    margin: auto;
}

.modal-content {
    border-radius: 0px;
}

.modal .modal-body {
    overflow-y: auto;
}

.modal-body {
    padding: 15px;
}

.modal-dialog {
	max-width: 80%;
	margin: 50px auto;
}

.filter {
	margin-top: 9px;
	margin-bottom: 9px;
}

/* Centers navbar links @ >768px width */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
        width: initial;
    }
}

#chooseFileBtn {
    padding-left: 0px;
}

/*
.shadow {
    -moz-box-shadow: 0 0 5px 1px #afaeae;
    -webkit-box-shadow: 0 0 5px 1px #afaeae;
}
*/

.media-heading {
    font-weight: bolder;
}

.tab-content {
    padding-top: 50px;
}

#green3 {
    background-color: #EAF8DD;
}

#green2 {
    background-color: #DFF5CC;
}

#green1 {
    background-color: #C0EA99;
}

.disable {
    pointer-events: none;
    cursor: default;
}

.couponThumbnail {
    max-width: 64px;
}

hr {
  border-style: dashed;
}

.thumb {
    width: 95px;
}

.col-xs-4 {
    text-align: center;
}

.logo-div {
    width: 115px;
    padding-top: 12px;
    margin: auto;
}

.errMsg {
    display: none;
    color: red;
}

.progress {
    margin-top: 6px;
    margin-bottom: 6px;
}