body {
     background-image: url("../images/lightpaperfibers.png");
}

.navbar-toggle {
	float: left;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
}

.navbar-brand img {
    display: block;
    margin: auto;
}
.modal-dialog {
	max-width: 80%;
	margin: 50px auto;
}

.filter {
	margin-top: 9px;
	margin-bottom: 9px;
}

/* Centers navbar links @ >768px width */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#chooseFileBtn {
    padding-left: 0px;
}

.shadow {
    -moz-box-shadow: 0 0 5px 1px #afaeae;
    -webkit-box-shadow: 0 0 5px 1px #afaeae;
}

.couponThumbnail {
    max-width: 64px;
}

.media-heading {
    font-weight: bolder;
}

.tab-content {
    padding-top: 50px;
}

.glyphicon-plus {
    color: #034F25; 
}
